In [56]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
from sklearn.linear_model import LinearRegression

In [57]:
df1=pd.read_csv("Train.csv")
df2=pd.read_csv("Test.csv")

In [58]:
df1.head()

   feature_1  feature_2  feature_3  feature_4  feature_5     target
0   0.293416  -0.945599  -0.421105   0.406816   0.525662 -82.154667
1  -0.836084  -0.189228  -0.776403  -1.053831   0.597997 -48.897960
2   0.236425   0.132836  -0.147723   0.699854  -0.187364  77.270371
3   0.175312   0.143194  -0.581111  -0.122107  -1.292168  -2.988581
4  -1.693011   0.542712  -2.798729  -0.686723   1.244077 -37.596722

In [59]:
df2.head()

   feature_1  feature_2  feature_3  feature_4  feature_5
0   1.015254   2.076209  -0.266435  -2.418088  -0.980503
1  -0.375021   0.953185   0.626719   0.704406  -0.355489
2  -1.024452   0.962991  -0.407942  -1.861274   0.455201
3  -2.489841   0.544802   0.601219  -0.607021  -1.314286
4  -0.384675  -0.833624   1.358552  -0.547932   0.411925

In [60]:
df1.shape

(1600, 6)

In [61]:
df2.shape

(400, 5)

In [66]:
model=LinearRegression()

In [75]:
model.fit(df1[["feature_1","feature_2","feature_3","feature_4","feature_5"]],df1.target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
model.intercept_

4.990966735574959

In [73]:
model.coef_

array([29.68187118, 92.66247759,  8.28062089, 44.76773522,  2.51916121])

In [103]:
output=model.predict(df2[["feature_1","feature_2","feature_3","feature_4","feature_5"]])

In [104]:
print(output)

[ 1.14583689e+02  1.18012815e+02 -2.17398523e+01 -4.39368985e+01
 -9.59148984e+01 -4.45074240e+01 -7.55665260e+01  2.38208355e+01
  1.73835284e+02  1.72849290e+02 -1.05402312e+02 -2.08020234e+01
 -3.91323777e+00  1.22999186e+02  4.03078842e+01  4.57128495e+01
 -1.89628491e+02  2.26125454e+01  1.16410473e+01  1.36342143e+02
  6.49162552e+01 -6.19884884e+01 -1.08194679e+02 -7.41212747e+00
 -5.85239528e+01  1.18889777e+01  2.92376400e+01  1.07687579e+02
  2.41468563e+01 -2.61050120e+01  1.10968076e+02 -4.48797096e+01
  2.16799939e+02 -1.38606052e+01 -2.28603182e+02  1.54896021e+02
 -2.22583390e+00  1.27230344e+01 -3.08307877e+02  7.71107583e+01
 -8.12079177e+01 -2.06632925e+02 -2.38762881e+02  1.34757365e+02
 -7.37514777e+01  1.05463702e+02 -3.59074927e+00  2.06043839e+01
 -9.80187354e+01 -2.75169049e+01  1.08159001e+01 -1.74463534e+02
  6.51557518e+01 -9.78063844e+01 -1.06151855e+02 -1.55942178e+02
  6.25361032e+01  1.08628991e+02 -7.46103422e+01  4.17396380e+01
  4.12242983e+01 -5.08043007e+01  1.64887262e+02  4.35635985e+01
  5.69371401e+01  2.41211334e+01  8.16773838e+01 -1.80304316e+00
 -3.09735011e+00  1.80977272e+00 -2.39397288e+01  1.61874720e+02
 -4.10129899e+01  2.15560701e+01 -6.64305442e+01 -6.92710146e+01
  3.69986169e+01 -1.60490354e+02 -1.76152673e+00  1.51309319e+02
 -3.80218327e+01 -1.20320688e+02 -1.94436345e+02  3.64493852e+01
  1.46425717e+02  2.71429735e+02 -2.56998804e+02 -8.85512683e+01
  7.62607756e+01 -8.99426453e+01 -4.94099238e+01  1.25588303e+02
 -1.63891147e+02 -1.16823341e+02  4.87104404e+01  9.81684061e+01
 -2.15581459e+02 -1.21288951e+02 -1.72346819e+02 -5.12594130e+01
  1.27991975e+02 -8.38947004e+01 -3.93355710e+00 -1.45819362e+00
  6.87157159e-02  8.07263279e+01  4.45095525e+01  9.24525606e+01
 -3.02937078e+01 -8.41409462e+01  3.86056584e+01  1.82850652e+01
  1.17401859e+02  7.70873241e+00  7.35667699e+01  3.27250659e+01
 -1.42403921e+02  7.21277669e+00  2.10140289e+01 -2.27889032e+01
 -2.11981550e+01 -2.55771207e+02  2.67437280e+02  1.55039195e+02
  1.43417317e+01  8.35124515e+01 -1.21442232e+01 -1.53097324e+02
  1.12393595e+02 -3.20459035e+01 -2.16024763e+02  1.21057697e+02
 -2.98930911e+01 -8.68348066e+01  1.70724468e+02  3.91922861e+01
 -1.93300026e+01  6.17641657e+01  4.60812147e+01 -1.75029471e+02
  1.30155609e+02 -7.28071887e+01  2.12090398e+02  1.35346245e+02
  2.30097434e-01 -1.53844667e+02 -1.48709586e+01  1.33660081e+02
  3.59628027e+01  5.77045854e+01 -4.36552160e+00 -4.31110458e+01
  1.77217405e+01 -6.97051989e+01  2.85463704e+01  1.41994072e+02
  3.46823799e+02  2.16924179e+02  2.78162767e+01 -3.77390624e+01
 -1.71397275e+02  1.28961678e+01  2.98607728e+02  7.56384285e+01
 -2.21090992e+01  1.55678418e+02 -1.55694869e+02  1.41408003e+02
  1.71079952e+02 -4.69490852e+01  6.55777840e+01  9.72533920e+01
  9.49267603e+01  3.18715034e+01  1.74337052e+02 -1.51155108e+02
 -9.43342846e+01 -1.69777111e+02 -1.82969143e+01 -1.07277796e+02
 -1.41266108e+01 -5.88120172e+01 -7.50832380e+01  6.73587271e+01
 -6.89703478e+01  8.88318631e+01 -5.70948342e+01 -1.09741255e+02
 -7.77833544e+01  1.85629304e+02 -4.14282206e+01  2.19635522e+02
 -5.66172847e+01 -8.36222525e+01  4.73238005e+01  6.26076531e-01
  7.13821511e+01 -6.06639903e+01  2.09659127e+02 -1.38637055e+02
 -9.68478030e+01 -1.15583978e+02  2.49654102e+01  5.42952400e+01
  1.50502762e+02  4.68983224e+01  9.19854966e+01  1.73013101e+02
 -2.70553209e+02 -1.73857397e+02 -1.05304177e+02 -8.25142264e+01
  2.90802473e+01 -5.03321805e+01  7.80970160e+01 -2.01979151e+01
 -5.22163204e+01 -2.86307739e+01  6.56560573e+01  9.17307327e+01
 -8.26675481e+01 -1.48460926e+02  4.86777092e+01  2.38567646e+02
 -4.86998996e+01  1.57631321e+01 -6.19899690e+01  1.31485707e+01
  1.00289512e+01  3.99646084e+01  1.15958615e+02  1.86669503e+01
 -1.07329942e+02  4.67695594e+01  1.00039959e+02 -8.87533938e+01
 -1.74694218e+02  1.69478147e+02  1.09352799e+02  6.20899161e+01
 -8.54397834e+00 -2.48564441e+01 -4.77166394e+01 -1.71011355e+02
 -6.50008843e+01 -2.77481804e+01 -1.71402598e+02 -2.82093276e+01
  3.43188175e+01 -1.21610783e+02  1.74264374e+01 -7.73081929e-01
 -2.54182308e+02 -2.53529253e+02 -1.65878766e+02  4.67111041e+01
  1.31612022e+02  7.07816400e+01  1.19875914e+02  9.38430102e+01
  2.21288003e+01 -3.06145032e+02  1.87134675e+02 -1.30086933e+02
 -4.39017442e+01 -8.48294430e+01 -8.75139738e+01  1.37064206e+02
  1.62663114e+02 -4.04306781e+01 -1.42315693e+02  1.13295414e+02
 -1.98162283e+01  8.81663869e+01  1.05992718e+02  2.53000074e+01
 -5.08837521e+01 -2.69524817e+01  3.01092851e+01  7.38938849e+01
  2.83608166e+01 -1.28416330e+02 -1.52776301e+01 -1.10374437e+01
 -1.26794785e+02  1.62120112e+02 -1.00838833e+01 -1.33336316e+02
  2.06450695e+02  4.88376450e+01  9.32013696e+01  3.13905901e+01
  2.07038229e+02 -3.89970195e+01 -3.07289410e+01 -4.01751698e+01
  5.23598108e+01 -6.24040563e+01  9.36382324e+01 -8.42914985e+01
 -9.55313843e+01 -2.43804958e+01 -8.98079279e+01 -2.31749011e+01
  5.96648383e+01 -3.24313782e+01 -7.40946220e+01 -1.79732441e+02
 -1.63685038e+02  4.11883520e+01  8.02784922e+01  3.01577804e+02
  1.28554327e+02  1.30832988e+02  5.25149254e+01 -2.12873997e+01
  1.83267572e+02 -5.88757862e+01  1.29469597e+02  1.52655487e+02
 -3.33223694e+01 -2.02138568e+02 -9.88606794e+01  4.34312192e+00
 -4.48044373e+01 -3.78196288e+01  1.57823714e+02  1.34014627e+02
  2.50245556e+01 -8.84390602e+01  1.87246379e+02 -6.54536233e+01
  6.55402344e+01  8.03561819e+01  9.88057301e+01 -1.05254566e+02
  1.14404232e+02 -3.49199136e+01  8.86094632e+01 -8.33695266e+01
 -2.02231114e+02  1.58221478e+02 -9.31481791e+01  6.59816387e+01
  1.25513068e+02  3.07073555e+01 -1.75221035e+02 -3.37049758e+01
 -4.79594491e+01 -1.17026015e+02  1.22681657e+01 -8.81417151e+01
 -3.89840106e+01 -1.63414696e+02 -2.18465652e+02  5.51305633e+00
 -2.05947839e+02  1.85721065e+02 -9.25001204e+00  1.80720271e+01
  3.27977960e+01  2.41092423e+02 -2.73852965e+01  1.34032356e+02
  5.73968795e+01  1.05388596e+01 -8.65082599e+01 -9.65674714e+00
  2.23430526e+02 -1.47055341e+01 -1.37921702e+02 -5.05147716e+01
 -9.36793798e+01  8.81628163e+00 -1.46040269e+01 -6.28519967e+01
 -1.64655543e+01 -1.72962640e+02 -1.22791775e+02  4.52738982e+01
 -3.73099314e+01 -1.57438494e+02  8.74983858e+01 -3.20726424e-01
  1.33257842e+02 -4.71722088e+01  2.57466116e+00  1.74227519e+02
  1.70930081e+02  4.64333575e+01 -2.67206510e+01  5.96322523e+01
  1.11659113e+02 -3.65027668e+01 -6.91390527e+01 -8.19890004e+01
 -1.86032535e+02  1.25292336e+02  6.53698407e+01  5.70596907e+01]

In [105]:
df=pd.DataFrame(output,columns=["target_variable"])
print(df)

     target_variable
0         114.583689
1         118.012815
2         -21.739852
3         -43.936899
4         -95.914898
..               ...
395       -81.989000
396      -186.032535
397       125.292336
398        65.369841
399        57.059691

[400 rows x 1 columns]

In [106]:
df.head(400)

     target_variable
0         114.583689
1         118.012815
2         -21.739852
3         -43.936899
4         -95.914898
..               ...
395       -81.989000
396      -186.032535
397       125.292336
398        65.369841
399        57.059691

[400 rows x 1 columns]